APP_NAME = Forgejo: Beyond coding. We forge.
RUN_MODE = prod

[server]
APP_DATA_PATH = /data
DOMAIN = {{.Domain}}
SSH_DOMAIN = {{.Domain}}
HTTP_PORT = 3000
ROOT_URL = http://{{.Domain}}/
SSH_PORT = 22
SSH_LISTEN_PORT = 2222
START_SSH_SERVER = true
PROTOCOL = http
LFS_JWT_SECRET = {{.LFSJWTSecret}}

[database]
DB_TYPE = sqlite3

[repository]
ROOT = /data/git/gitea-repositories

[security]
INSTALL_LOCK = true
INTERNAL_TOKEN = {{.InternalToken}}
SECRET_KEY = {{.SecretKey}}

[oauth2]
JWT_SECRET = {{.JWTSecret}}

[session]
PROVIDER = memory

[cache]
ADAPTER = memory

[queue]
TYPE = level
